.button {
  display: inline-block;
  overflow: hidden;
  background-color: black;
  color: rgb(201, 142, 46);
  padding: 0px 1px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  
  &Slider {
    display: inline-block;
    white-space: nowrap;
    animation:slide 2s linear infinite;
    //transition: cubic-bezier(0.215, 0.61, 0.355, 1) .4s all;
    
    animation-play-state: paused;
    
    span {
      padding-right: 50%;
    }
  }
  
  &:focus {
    outline: none;
  }

  &:hover {
    .buttonSlider {
      animation-play-state: running;
      // animation: linear infinite;
    }
  }
}
  
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
