@import './variables.scss';
@import './mixins.scss';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    left: toRem(28);
    right: toRem(28);
    background-color: red;
    padding: 1rem;
}

main {
    padding: 150vh toRem(28);
    background-color: green;
}

footer {
    background-color: blue;
    padding: 1rem;
    color: white;
}