:root {
    // colors
    --background-primary: #131313;
    --accent-primary: #f5eee6;
    --accent-secondary: #efd8c3;

    // layouts
    --padding-main: 1.75rem;
    --padding-main-top: 3.18rem;
}