.scroll {
  position: relative;
  width: 150px;
  height: 53px;
  border-radius: 50px;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  border: 3px solid red;
}

.mscroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  margin: 0px;
  
  font-size: 0px;
  display: inline-block;
}

span {
  font-size: 40px;
  display: inline-block;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  color: black;
}

.mscroll:hover {
  animation: scrollText 10s infinite linear;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
