@import '../../styles/mixins.scss';

.aboutMe {
    > div {
        @media (max-width: $media-breakpoint-L) {
            display: block;
        }
        
        display: flex;
        gap: 3rem;

    }

    &Content {
        > * {
            margin-bottom: 2rem;
        }
    }
    
    &Image {
        @media (min-width: $media-breakpoint-L) {
            flex-basis: 30%;
            flex-shrink: 0;
        }

        @media (min-width: $media-breakpoint-S) {
            width: 50%;
        }

        aspect-ratio: 1;
        width: 100%;
        margin: 0 auto;
        
        img {
            border-radius: 50%;
        }
    }
}