.aboutme {
    > div {
        display: flex;
        gap: 3rem;
    }

    &Content {
        > * {
            margin-bottom: 2rem;
        }
    }
    
    &Image {
        flex-basis: 30%;
        aspect-ratio: 1;
        flex-shrink: 0;
        
        img {
            border-radius: 50%;
        }
    }
}