@import '../../styles/mixins.scss';

.ending {
    &Links {
        @include position(absolute, $left: 50%);
        transform: translateX(-50%);

        h3 {
            text-align: center;
            margin-bottom: toRem(30);
        }
    }

    &Row {
        margin-bottom: toRem(10);

        &Wrapper {
            min-width: toRem(750);
        }

        h3 {
            @include roundButton();
            display: inline-block;
            padding: toRem(2) toRem(26);
            margin-right: 10px;
            margin-bottom: unset;
        }
    }

    &Footer {
        @include position(absolute, $bottom: 5vh);
        display: flex;
        align-items: end;
        gap: toRem(30);

        h1 {
            flex-basis: 35%;
        }

        footer {
            flex-grow: 1;
            border-top: 1px solid var(--accent-primary);
            padding: 1rem 0;

            li {
                margin-left: unset;
                margin-right: toRem(50);
            }

            h3 {
                font-size: toRem(20);
            }
        }
    }
}