@import '../../styles/mixins.scss';

.header {
    &Top {
        @include position(fixed, $top: 0, $left: 0, $right: 0);
        padding: 2rem 0;
        background-color: transparent;
        z-index: 10;
        transition: all 0.3s;

        > div {
            display: flex;
            justify-content: space-between;
        }
    }

    &Welcome {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            @include position(absolute, $top: 0, $left: 0);
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    
    &Container {
    }
    
    &Hamburger {
        height: toRem(25);
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span {
            background-color: var(--accent-primary);
            height: 2px;
            display: block;
        }

        &:hover {
            span {
                &:nth-child(odd) {
                    margin: 0 auto;
                    width: 15px;
                }
            }
        }
    }
}
