@import '../../styles/mixins.scss';

.header {
    &Top {
        @include position(fixed, $top: 0, $left: 0, $right: 0);
        padding: 2rem 0;
        background-color: transparent;
        z-index: 10;
        transition: all 0.3s;

        > div {
            display: flex;
            justify-content: space-between;
        }

        a {
            font-size: toRem(20);
            font-weight: 900;
        }
    }

    &Welcome {
        @media (max-width: $media-breakpoint-L) {
            flex-direction: column;
        }
        width: 100%;
        display: flex;
        gap: 2rem;
        height: 100vh;

        > div {
            flex-basis: 50%;
        }

        h1 {
            font-size: clamp(2.5rem, 4vw, 5rem);
            font-weight: 100;
        }

        span {
            color: var(--accent-secondary);
        }
    }

    &Split {
        &:first-child {
            @media (max-width: $media-breakpoint-L) {
                text-align: center;
            }
            padding: 7rem 9vw 0;
        }

        &:nth-child(2) {
            flex-shrink: 0;
        }
    }

    &Decorations {
        @media (max-width: $media-breakpoint-L) {
            flex-wrap: wrap;
            gap: 1rem 30%;
        }

        @media (max-width: $media-breakpoint-S) {
            position: relative;
            column-gap: 1rem;
        }
        @include position(absolute, $bottom: 0);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 1rem;
        padding: 0 2rem 2rem;

        > div {
            @media (max-width: $media-breakpoint-L) {
                flex-basis: 20%;
                
                &:nth-child(even) {
                    text-align: right;
                }
            }

            @media (max-width: $media-breakpoint-S) {
                flex-basis: calc(50% - 0.5rem);
            }
            flex-basis: 16.66%;
            background-color: var(--card-edit-background);
            opacity: 0.6;
            padding: 2rem 1rem;
            transition: all 0.3s;
            
            &:hover {
                p {
                    display: block;
                }
            }
            
            p {
                display: none;
                margin-top: 1rem;
                font-weight: 300;
                color: var(--accent-secondary);
            }
            
            h3 {
                @media (max-width: $media-breakpoint-L) {
                    font-size: 24px;
                }
                margin-bottom: 1rem;
                font-size: 48px;
                font-weight: 100;
            }
            
        }

        h4 {
            font-size: toRem(18);
        }
    }
    
    &Hamburger {
        height: toRem(25);
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span {
            background-color: var(--accent-primary);
            height: 2px;
            display: block;
        }

        &:hover {
            span {
                &:nth-child(odd) {
                    margin: 0 auto;
                    width: toRem(15);
                }
            }
        }
    }
}
