@import '../../styles/mixins.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &Close {
        @include position(absolute, $top: 3.25rem, $right: 3rem);
        border-radius: 50%;
        padding: toRem(2) toRem(7);
    }
    
    > div {
        position: relative;
        background-color: white;
        padding: 2em;
        border-radius: 5px;
        max-width: toRem(500);
        width: 100%;
    }
}
