@import '../../styles/mixins.scss';

.myOffers {
    @media (min-width: $media-breakpoint-XS) {
        justify-content: space-between;
        gap: 5rem;
        flex-wrap: nowrap;
    }
    display: flex;
    flex-wrap: wrap;

    > div {
        @media (min-width: $media-breakpoint-XS) {
            gap: 3rem;
            flex-basis: 30%;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 4rem;

        h3 {
            font-weight: 700;
            font-size: toRem(21);
        }

        p {
            color: var(--accent-secondary);
            font-weight: 100;
        }
    }

    &Image {
        @media (min-width: $media-breakpoint-XS) {
            width: toRem(50);
        }
        width: toRem(35);

        img {
            width: unset;
            height: unset;
            filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(203deg) brightness(113%) contrast(101%);
        }
    }
}