@import '../../styles/mixins.scss';

.wrapper {
    padding-top: 4rem;

    &Available {
        display: flex;
        justify-content: end;
        align-items: start;
        gap: toRem(20);
        font-family: 'Permanent Marker', sans-serif;
        margin-right: 30%;

        img {
            width: toRem(60);
        }

        span {
            font-size: 26px;
            align-self: end;
        }
    }

    &Details {
        @include position(absolute, $bottom: 5vh);
        display: flex;
        align-items: flex-end;
        gap: toRem(100);

        &Hero {
            flex-grow: 1;
        }

        &Description {
            flex-basis: 45%;
        }
    }

    button {
        font-size: 24px;
        border-radius: 50px;
        padding: 1px 42px;
        margin-left: auto;
        display: block;
        margin-top: 34px;
    }
}