@import '../../styles/mixins.scss';

.wrapper {
    padding-top: 4rem;

    &Available {
        display: flex;
        justify-content: end;
        align-items: start;
        gap: toRem(20);
        margin-right: 30%;

        img {
            width: toRem(60);
        }

        span {
            font-size: 1.3rem;
            align-self: end;
        }
    }

    &Details {
        @include position(absolute, $bottom: 5vh);
        display: flex;
        align-items: flex-end;
        gap: toRem(100);

        &Hero {
            flex-grow: 1;
        }

        &Description {
            flex-basis: 45%;
        }
    }

    button {
        @include roundButton();
        padding: toRem(2) toRem(42);
        margin-left: auto;
        display: block;
        margin-top: toRem(34);
        font-size: 1.5rem;
    }
}