@import '../../styles/mixins.scss';

.sidebar {
    &Overlay {
        @include position(fixed, $top: 0, $right: 0);
        width: 100vw;
        height: 100vh;
        z-index: -10;
        opacity: 0;
        transition: opacity 0.6s;
        
        &.active {
            z-index: 8;
            opacity: 0.8;
        }
    }

    &Content {
        position: relative;
        padding: 0 1rem;
        margin-top: toRem(100);
    }
    
    &Projects {
        @include position(absolute, $top: 0, $left: 100%);
        background-color: var(--background-secondary);
        width: 100%;
        transition: all 0.3s;

        &.open {
            left: 0;
            right: 0;
        }

        .wrapper {
            width: 100%;
            padding: 0 1rem;
        }
    }
}

aside {
    @media (min-width: $media-breakpoint-M) {
        width: 30%;
        max-width: toRem(666);
        min-width: 25rem;
    }
    @include position(fixed, $top: 0, $right: 0);
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    transition: all 0.6s;
    z-index: 20;
    overflow: auto;
    overflow-x: hidden;

    &.open {
        @media (min-width: $media-breakpoint-M) {
            right: -50%;
        }
        right: -100%;
    }

    span {
        @include position(absolute, $top: 2rem, $right: 3rem);
        
        &.back {
            left: 2rem;
            right: unset;
        }
    }
    
    ul {
        display: block;
        margin-left: 2rem;

        li {
            display: block;
        }
    }

    a {
        display: block;
        font-size: 20px;
        font-size: 26px;
        margin-bottom: 1rem;
    }

    .add-project {
        text-align: center;
        border-radius: 4px;
        padding: 1rem;
        border: 1px solid var(--card-edit-border);
        transition: all 0.3s;

        &:hover {
            background-color: var(--card-edit-background);
        }
    }
}

