@import '../../styles/mixins.scss';

.card {
    @media (min-width: $media-breakpoint-XS) {
        display: flex;
        align-items: center;
        gap: 2rem;

    }
    background-color: var(--card-edit-background);
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid var(--card-edit-border);
    border-radius: toRem(8);

    &Image {
        @media (min-width: $media-breakpoint-XS) {
            width: 30%;
            max-width: toRem(150);

        }
        aspect-ratio: 1;
    }

    &Actions {
        @media (min-width: $media-breakpoint-XS) {
            display: flex;
            gap: toRem(15);
        }
        width: 100%;

        > div {
            @media (min-width: $media-breakpoint-XS) {
                width: toRem(55);
                margin-top: unset;
            }
            background-color: var(--background-action-buttons);
            border-radius: toRem(10);
            height: toRem(50);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            margin-top: 1rem;

            &:hover {
                background-color: var(--background-action-buttons-hover);
            }
        }
        
        img {
            width: toRem(20);
            height: unset;
        }
    }
    
    &Details {
        @media (max-width: $media-breakpoint-XS) {
            margin-top: 2rem;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        span {
            position: static;
        }

        h3 {
            @media (max-width: $media-breakpoint-XS) {
                order: -1;
            }
        }
    }
    
    &Delete {
        filter: invert(15%) sepia(94%) saturate(6560%) hue-rotate(3deg) brightness(100%) contrast(121%);
    }
    
    &Edit {
        filter: invert(9%) sepia(99%) saturate(7498%) hue-rotate(248deg) brightness(91%) contrast(144%);
    }
}
