@import '../../styles/mixins.scss';

.testimonials {
    max-width: toRem(800);
    margin: 0 auto;

    &Item {
        text-align: center;

        > * {
            text-align: center;
        }

        p,
        span {
            font-weight: 200;
        }

        span {
            font-size: toRem(14);
        }

        h3 {
            font-weight: 700;
            font-size: toRem(24);
            padding-top: 2rem;
        }
    }
}