@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    background-color: var(--background-primary);
    color: var(--accent-primary);
}

main {
    padding: var(--header-height) var(--padding-main) 0;
    background-color: green;
}

footer {
    background-color: blue;
    padding: 1rem;
    color: white;
}

// typography
h1,
h2 {
    font-family: 'Bangers', sans-serif;
    line-height: 0.7;
}

h2 {
    font-size: clamp(30px, 5vw, 80px);
}

small,
a {
    font-family: cursive;
    font-weight: bold;
}

button {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: bold;
}