@import './variables.scss';
@import './mixins.scss';
@import './typography.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 400;
    background-color: var(--background-primary);
    color: var(--accent-primary);
}

section {
    padding: 6rem 0;

    &:nth-child(even) {
        background-color: var(--background-secondary);
    }
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

@media (max-width: $media-breakpoint-M) {
    .container {
        --container-width: 80%
    }
}

@media (max-width: $media-breakpoint-S) {
    .container {
        --container-width: 90%
    }
}

a {
    color: var(--accent-primary);
    font-weight: 700;
    text-decoration: none;
}

small {
    font-size: toRem(18);
    display: flex;
    align-items: center;
    gap: toRem(7);
    margin-bottom: 3rem;
    color: var(--accent-secondary);

    &::before {
        content: '';
        background-color: var(--accent-secondary);
        display: block;
        height: 2px;
        width: toRem(40);
    }
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-slider {
    .slick-dots {
        bottom: toRem(-40);
        li,
        .slick-active {
            button {
                &::before {
                    color: var(--accent-secondary);
                }
            }
        }
    }
}

.icon-container {
    @media (min-width: $media-breakpoint-XS) {
        width: toRem(50);
    }
    width: toRem(35);

    img {
        width: unset;
        height: unset;
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(203deg) brightness(113%) contrast(101%);
    }
}

.input-container {
    border-bottom: 1px solid var(--accent-secondary);
    padding: 0.8rem 0;

    input,
    textarea {
        all: unset;
        width: 100%;
    }
}

.api-response-status {
    padding: 1rem;
}