@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    font-weight: bold;
    background-color: var(--background-primary);
    color: var(--accent-primary);
    background-color: red;
}

main {
    // padding: var(--header-height) var(--padding-main) 0;
    padding: 0 var(--padding-main);
}

section {
    position: relative;
    padding-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    height: 100vh;
}

// typography
h1 {
    font-size: clamp(90px, 9vw, 210px);
}

h1,
h2 {
    font-family: var(--font-family-title);
    line-height: 0.7;
}

h2 {
    font-size: clamp(1.87rem, 4vw, 5rem);
}

h3 {
    font-size: clamp(22px, 1.6vw, 2rem);
}

small {
    font-size: clamp(0.75rem, 0.8vw, 1rem);
}

small,
span,
a {
    color: var(--accent-secondary);
}

button {
    font-family: 'Permanent Marker', sans-serif;
    padding: 0px toRem(4);
    border: 2px solid;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;

    li {
        margin-left: var(--padding-nav-elements);
    }
}
