@function toRem($value) {
    $remValue: calc($value / 16) + rem;

    @return $remValue;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}