:root {
    // colors
    --background-primary: black;
    --background-secondary: #0f1113;
    --background-action-buttons: #232020;
    --background-action-buttons-hover: #2d2b2b;
    --backbround-modal-overlay: rgba(0, 0, 0, 0.7);
    --backbround-modal-primary: #2b2b2b;
    --backbround-modal-loading: #484a51;
    --accent-primary: white;
    --accent-secondary: #efd8c3;
    --card-edit-background: #191a19;
    --card-edit-border: #333333;

    // layouts
    --padding-main: 1.75rem;
    --padding-nav-elements: 0.93rem;
    --header-height: 4.37rem;
    --container-width: 65%;

    // typography
    --font-family-primary: 'Raleway Variable', sans-serif;

    // breakpoints
    --media-breakpoint-L: 75rem;
}