:root {
    // colors
    --background-primary: #131313;
    --accent-primary: #f5eee6;
    --accent-secondary: #efd8c3;
    --modal-primary: #e77d56;

    // layouts
    --padding-main: 1.75rem;
    --padding-nav-elements: 0.93rem;
    --header-height: 4.37rem;

    // typography
    --font-family-primary: cursive, sans-serif;
    --font-family-title: 'Bangers', sans-serif;
}