.card {
  max-width: 70%;
  margin-bottom: 2rem;

  > div {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    
    > div:first-child {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &ImageWrapper {
    height: 200px;
    flex-grow: 1;
    min-width: 400px;
    transition: transform 0.7s ease-in;
    overflow: hidden;

    &:hover {
      
      transform: scale(0.95);
    }

    img {
      width: 100%;
      object-position: center;
      object-fit: cover;
      transition: transform 0.7s ease-in-out;
    
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  p {
    display: flex;
    gap: .2rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  button {
    visibility: hidden;
  }

  &Inverse {
    flex-direction: row-reverse;

    p {
      right: unset;
      left: 0;
    }
  }
  
  &:hover {

    button {
      visibility: visible;
    }
  }
}


