@import '../../styles/mixins.scss';

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 5rem 3rem 2rem;

  > * {
    position: relative;
    flex-basis: calc(50% - 1rem);

  }

  span {
    font-family: cursive;
    font-size: toRem(12);
    color: var(--accent-secondary);
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    input {
      aspect-ratio: 1;
      width: toRem(20);
    }
  }

  > div {
    &:nth-child(3),
    &:nth-child(5) {
      flex-basis: 100%;
    }
  }

  fieldset {
    padding: 1rem;
    flex-basis: 100%;

    h3 {
      text-align: center;
      margin: 0.5rem 0;
    }
  }

  &Image {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      aspect-ratio: 1;
      flex-basis: 30%;
    }
  }

  &Loading {
    @include position(absolute, $top: 0, $left: 0, $bottom: 0);
    background-color: var(--backbround-modal-loading);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Prompt {
    padding: 1rem;

    button {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      border-radius: 50px;
    }
  }

  button {
    @include position(absolute, $bottom: 2rem, $left: 50%);
    transform: translateX(-50%);
    padding: 0.5rem 3rem;
    border-radius: 50px;
  }
}