@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

.projectsList {
    @media (min-width: $media-breakpoint-M) {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(20);

    }
}