@import '../../styles/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-primary);
  color: var(--background-primary);
  border-radius: toRem(8);

  &Wrapper {
    @media (max-width: $media-breakpoint-XS) {
      max-height: unset;
    }
    height: toRem(500);
    max-height: 55vh;

    + div {
      padding: 1rem;
      
      h3 {
        text-align: right;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 2rem;
      }

      h4 {
        font-weight: 500;
      }
    }
  }
}


