@import '../../styles/mixins.scss';

.card {
  margin-bottom: 2.5rem;
  flex-basis: 50%;
  flex-basis: calc(50% - toRem(10));

  img {
    transition: all .3s ease-in-out;
    
    &:hover {
      opacity: 0.4;
    }
  }
}
