.profileCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .left {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .right {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .profileInfo {
    margin-right: 20px;
  
    .name {
      font-size: 2em;
      font-weight: bold;
    }
  
    .job {
      font-size: 1.2em;
    }
  }
  
  .profileImageWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    
    .profileImage {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.7s ease-in-out;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }
